<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="chartjs-plugin-doughnutlabel.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>graph_bar</title>
</head>
<body>
<div style="width: 100vw; min-height: 100vh; display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center">
        <canvas id="myChart" width="700" height="800"></canvas>
    </div>
</div>
<script>
    $(document).ready(function () {
        show_stat();
    });

    function show_stat() {
        $.ajax({
            type: "GET",
            url: "/mbti",
            data: {},
            success: function (response) {
                let mbti_arr = [
                    {mbti: "istj", count: 0},
                    {mbti: "istp", count: 0},
                    {mbti: "isfj", count: 0},
                    {mbti: "isfp", count: 0},
                    {mbti: "intj", count: 0},
                    {mbti: "intp", count: 0},
                    {mbti: "infj", count: 0},
                    {mbti: "infp", count: 0},
                    {mbti: "estj", count: 0},
                    {mbti: "estp", count: 0},
                    {mbti: "esfj", count: 0},
                    {mbti: "esfp", count: 0},
                    {mbti: "entj", count: 0},
                    {mbti: "entp", count: 0},
                    {mbti: "enfj", count: 0},
                    {mbti: "enfp", count: 0},
                ];
                let rows = response["user_list"];

                for (let i = 0; i < rows.length; i++) {
                    let mbti = rows[i]["mbti"];

                    switch (mbti) {
                        case "istj":
                            mbti_arr[0].count += 1;
                            break;
                        case "istp":
                            mbti_arr[1].count += 1;
                            break;
                        case "isfj":
                            mbti_arr[2].count += 1;
                            break;
                        case "isfp":
                            mbti_arr[3].count += 1;
                            break;
                        case "intj":
                            mbti_arr[4].count += 1;
                            break;
                        case "intp":
                            mbti_arr[5].count += 1;
                            break;
                        case "infj":
                            mbti_arr[6].count += 1;
                            break;
                        case "infp":
                            mbti_arr[7].count += 1;
                            break;
                        case "estj":
                            mbti_arr[8].count += 1;
                            break;
                        case "estp":
                            mbti_arr[9].count += 1;
                            break;
                        case "esfj":
                            mbti_arr[10].count += 1;
                            break;
                        case "esfp":
                            mbti_arr[11].count += 1;
                            break;
                        case "entj":
                            mbti_arr[12].count += 1;
                            break;
                        case "entp":
                            mbti_arr[13].count += 1;
                            break;
                        case "enfj":
                            mbti_arr[14].count += 1;
                            break;
                        case "enfp":
                            mbti_arr[15].count += 1;
                            break;

                    }
                }


                    const ctx = document.getElementById("myChart").getContext("2d");
                    // console.log(mbti_arr)
                    let dataSet = mbti_arr.map((obj) => obj.count);
                    // console.log(dataSet);
                    const myChart = new Chart(ctx, {
                        type: "bar",
                        data: {
                            labels: [
                                "ISTJ",
                                "ISTP",
                                "ISFJ",
                                "ISFP",
                                "INTJ",
                                "INTP",
                                "INFJ",
                                "INFP",
                                "ESTJ",
                                "ESTP",
                                "ESFJ",
                                "ESFP",
                                "ENTJ",
                                "ENTP",
                                "ENFJ",
                                "ENFP",
                            ],
                            datasets: [
                                {
                                    label: "명",
                                    data: dataSet,
                                    backgroundColor: [
                                        'rgba(255, 99, 132)',
                                        'rgba(255, 99, 132)',
                                        'rgba(54, 162, 235)',
                                        'rgba(54, 162, 235)',
                                        'rgba(255, 205, 86)',
                                        'rgba(255, 205, 86)',
                                        'rgba(75, 192, 192)',
                                        'rgba(75, 192, 192)',
                                        'rgba(153, 102, 255)',
                                        'rgba(153, 102, 255)',
                                        'rgba(255, 159, 64)',
                                        'rgba(255, 159, 64)'
                                    ],
                                    borderColor: ['blue'],
                                    borderWidth: 0.2,
                                    hoverOffset: 50,
                                },
                            ],
                        },
                        options: {
                        responsive: false,
                        layout: {
                            padding: 30
                            },
                        },
                    });
                }
            });
    }
</script>
</body>
</html>